h2{
    color: black;
    margin-bottom: 90px;
}
.input-password{
    background-color: pink;
    padding:20px 40px;
    border-radius: 10px;

}
.input-password input {
    font-size: 20px;
    padding:9px;
    outline: none;
    border: none;
    border-radius: 10px;
   margin-right: 30PX;
   
}
#length-input-field input , #number-input-field input , #char-input-field input{
    margin-right: 20PX;
    width: 23px; /* Width */
    height: 23px;
    vertical-align: middle; 
}
#length-input-field{
    font-size: 25px;
    color: rgb(125, 0, 42);
}
#number-input-field {
    font-size: 25px;
    color: rgb(125, 0, 42);

}
#char-input-field{
    font-size: 25px;
    color: rgb(125, 0, 42);
}